= #encoding: utf-8
-if !defined? @@token
	:javascript

		$(document).ready( function() {
			if (geoPosition.init()) {
				geoPosition.getCurrentPosition(geoSuccess, geoError);
			}

			function geoSuccess(p) { 
				$.post('/coords',{lat:p.coords.latitude, long:p.coords.longitude});
			}

			function geoError(){ alert("Whoa, we can't find you...try again?"); }
		});



%div#desc
	%p We connect with your SoundCloud account to find meetups near you catered to your music tastes!
%div#tracks
	%a.tracks{:href => "/soundcloud"}	Make the magic happen!


-if defined? @@token
	%p= "Hey, #{@username.split[0]}!"
	
	%p Based on your music tastes, we've found the following meetups that might interest you:

	-if defined? @meetup_response
		:javascript
			$(document).ready( function() {
				$('#events li:nth-child(odd)').addClass('alternate');
			});

		%div#events
			%ul#events
				- @meetup_response["results"].each do |m|
					%li
						%a{:href => m["event_url"] } 
							="#{m["name"]}"
						%span= "- #{m["distance"].to_i.round(2)} miles away"
						-desc = m["description"].encode('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '')
						-query = desc.split(' ')
						-matches = query & @genres
						-if matches.any?
							-matches = matches.take(3)
							-matches.each do |tag|
								%div.ticket
									%span.circle
									%a{:href => "#", :class => "active"}
										="#{tag}"
						-else
							-desc = m["group"]["name"].encode('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '')
							-query = desc.split(' ')
							-matches =  query & @genres
							-if matches.any?
								-matches = matches.take(3)
								-matches.each do |tag|
									%div.ticket
										%span.circle
										%a{:href => "#", :class => "active"}
											="#{tag}"


	-else

		%p Oops! We couldn't find any compatible events near you...expand your horizons!



		


